.login-container,
.register-container {
    background-color: rgba(37, 51, 67, 0.9);
    h2 {
        color: #fff;
        font-weight: 600;
    }
    h5 {
        color: #fff;
        font-weight: 300;
    }
    .form-label {
        color: #fff;
        font-weight: 500;
    }
    a.forgot {
        color: #fff;
        text-decoration: underline;
        font-weight: 600;
    }
    hr {
        color: #fff;
        margin: 100px auto 0;
    }
}
